html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }

  html, body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    background-color: var(--main-color); /* Set background color */
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }


  /* nav styles */

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration: underline;
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 650px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  
  }