---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Contact";
---

<BaseLayout>
    <div>
        <p>Test text for contact page</p>
    </div>
</BaseLayout>