---
import { Image } from "astro:assets";
import grpLogo from "../assets/ghost-runner-pizza-logo.svg";
import Ticker from "../components/Ticker.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ghost Runner Pizza</title>

        <style>
            /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

            html,
            body,
            div,
            span,
            applet,
            object,
            iframe,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            blockquote,
            pre,
            a,
            abbr,
            acronym,
            address,
            big,
            cite,
            code,
            del,
            dfn,
            em,
            img,
            ins,
            kbd,
            q,
            s,
            samp,
            small,
            strike,
            strong,
            sub,
            sup,
            tt,
            var,
            b,
            u,
            i,
            center,
            dl,
            dt,
            dd,
            ol,
            ul,
            li,
            fieldset,
            form,
            label,
            legend,
            table,
            caption,
            tbody,
            tfoot,
            thead,
            tr,
            th,
            td,
            article,
            aside,
            canvas,
            details,
            embed,
            figure,
            figcaption,
            footer,
            header,
            hgroup,
            menu,
            nav,
            output,
            ruby,
            section,
            summary,
            time,
            mark,
            audio,
            video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }
            /* HTML5 display-role reset for older browsers */
            article,
            aside,
            details,
            figcaption,
            figure,
            footer,
            header,
            hgroup,
            menu,
            nav,
            section {
                display: block;
            }
            body {
                line-height: 1;
            }
            ol,
            ul {
                list-style: none;
            }
            blockquote,
            q {
                quotes: none;
            }
            blockquote:before,
            blockquote:after,
            q:before,
            q:after {
                content: "";
                content: none;
            }
            table {
                border-collapse: collapse;
                border-spacing: 0;
            }
        </style>




        <style>
            body {
                background-color: #f7f2de;
            }
        </style>


        <style>
            @font-face {
                font-family: "Apfel Grotezk";
                src: url("../assets/ApfelGrotezk-Satt.woff2") format("woff2");
                font-weight: 800;
            }

            @font-face {
                font-family: "Apfel Grotezk";
                src: url("../assets/ApfelGrotezk-Fett.woff2") format("woff2");
                font-weight: bold;
            }

            @font-face {
                font-family: "Apfel Grotezk";
                src: url("../assets/ApfelGrotezk-Mittel.woff2") format("woff2");
                font-weight: normal;
            }

            @font-face {
                font-family: "Apfel Grotezk";
                src: url("../assets/ApfelGrotezk-Regular.woff2") format("woff2");
                font-weight: 400;
            }

            @font-face {
                font-family: "Victor Mono";
                src: url("../assets/VictorMono-Light.woff2") format("woff2");
                font-weight: light;
            }
            @font-face {
                font-family: "Victor Mono";
                src: url("../assets/VictorMono-Medium.woff2") format("woff2");
                font-weight: normal;
            }

            #logo {
                height: auto;
                width: 40%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 2.5rem;
                margin-bottom: 1.5rem;
            }

            #title-loc {
                font-size: 2rem;
            }


            .info-box {
                display: flex;
                justify-content: center;
                gap: 7rem;
            }
            .location, .hours {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .location > h2, .hours > h2 {
                /* display: inline-block; */
                border-top: 1px solid #002C2E;
                border-bottom: 1px solid #002C2E;
                letter-spacing: 0.5rem;
                font-family: "Apfel Grotezk";
                font-weight: 800;
                font-size: 1.75rem;
                margin-bottom: 0.5rem;
                color: #002C2E;
            }

            .location > p, .hours > p {
                font-family: "Victor Mono";
                font-weight: normal;
                font-size: 1rem;
                color: #002C2E
            }

            .hours > p span {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div id="navigation">
            <Header />
            <Ticker />
        </div>

        <Image id='logo' src={grpLogo} alt="Logo for Ghost Runner Pizza"/>
        <div class="info-box">
            <div class="location">
                <h2>LOCATION</h2>
                <p>742 Main St. Perry, GA 31069</p>
                <p>Perry, GA 31069</p>
            </div>

            <div class="hours">
                <h2>HOURS</h2>
                <p><span>MON - WED</span>: Closed</p>
                <p><span>THU - SUN</span>: 5:00pm - 9:00pm</p>
            </div>
        </div>


    </body>
</html>
