---
import "../styles/global.css";
import { Image } from "astro:assets";
import grpLogo from "../assets/ghost-runner-pizza-logo.svg";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
    #logo {
        height: auto;
        width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }

    #title-loc {
        font-size: 2rem;
    }

    .info-box {
        margin-top: 3rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: flex-start;
		max-width: 55%;
        margin-left:auto;
        margin-right: auto;
    }
    .info {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .info > h2 {
        display: inline;
        width: fit-content;
        border-top: 2px solid #002c2e;
        border-bottom: 2px solid #002c2e;
        font-family: "Apfel Grotezk";
        font-weight: 800;
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
        color: #002c2e;
    }

    .info > p {
        font-family: "Apfel Grotezk";
        font-weight: normal;
        font-size: 1rem;
        color: #002c2e;
    }

    .hours > p span {
        font-weight: bold;
    }

    @media (max-width: 800px) {
        #logo {
            width: 80%;
        }
        .info-box {
			grid-template-columns: 1fr;
            width: 100%;
		}
    }
</style>
<BaseLayout>
    <Image id="logo" src={grpLogo} alt="Logo for Ghost Runner Pizza" />
    <div class="info-box">
        <div class="info location">
            <h2>LOCATION</h2>
            <p>742 Main St. Perry, GA 31069</p>
            <p>Perry, GA 31069</p>
        </div>

        <div class="info hours">
            <h2>HOURS</h2>
            <p><span>MON - WED</span>: Closed</p>
            <p><span>THU - SUN</span>: 5:00pm - 9:00pm</p>
        </div>
    </div>
</BaseLayout>
