---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Ticker from "../components/Ticker.astro";
import MenuItem from "../components/MenuItem.astro";
import alpinejs from "@astrojs/alpinejs";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Menu";
---

<style>
	html {
		scroll-behavior: smooth;
	}

	.wrapper::before {
		content: "";
		position: absolute;
		padding: 0.25rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		background-color: #efefef;
		border-radius: 999px;
		z-index: -1;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	}
	.wrapper {
		position: sticky;
		top: 2rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: fit-content;
		margin: 0 auto;
		margin-top: 3rem;
		font-family: "Apfel Grotezk";
		font-weight: 500;
		font-size: 1rem;
		margin-bottom: 5rem;
		z-index: 999;

		/* clip-path: inset(0 81% 0 8% round 1rem); */
	}

	.menu-select {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: center;
		gap: 0.5rem;
	}

	li {
		position: relative;
	}

	li [type="radio"] {
		display: none;
	}

	[type="radio"]:checked ~ {
		/* border-bottom: 1px solid black; */
	}

	.tab-label {
		display: flex;
		height: 0;
		align-items: center;
		gap: 1rem;
		border-radius: 100%;
		padding: 1rem;
		font-size: 1rem;
		color: #002c2e;
	}

	.list-overlay {
		background: #416d6f;
	}
	.clip-path-container {
		position: absolute;
		z-index: 10;
		width: 100%;
		overflow: hidden;
		transition: clip-path 0.45s ease-in-out;
	}
	.overlay {
		color: white;
	}

	#content-container {
		margin-left: 10rem;
	}

	.menu-container > h2 {
		font-family: "Pally-Variable", "sans serif";
		/* padding: 0 5%; */
		font-weight: 600;
		text-transform: uppercase;
		font-size: 3.5rem;
		letter-spacing: -0.075rem;
	}

	.menu-container > h4 {
		font-family: "Apfel Grotezk", "sans serif";
		color: #416d6f;
		text-transform: uppercase;
		font-size: 1.25rem;
		font-weight: 500;
	}

	.menu-container > h5 {
		font-family: "Apfel Grotezk", "sans serif";
		color: #416d6f;
		font-weight: 400;
	}

	.menu-container > h3 {
		margin-top: 7rem;
		font-family: "Pally-Variable", "sans serif";
		padding: 0 5%;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 2.5rem;
		letter-spacing: -0.075rem;
	}

	.menu-container > h6 {
		font-family: "Apfel Grotezk", "sans serif";
		color: #416d6f;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 400;
	}

	.item-container {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 6rem;
		align-items: flex-start;
		max-width: 70%;
	}

	@media (max-width: 800px) {
		.item-container {
			grid-template-columns: 1fr;
		}
	}

	.menu-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 8rem;
	}
</style>
<BaseLayout>
	<div
		class="wrapper"
		x-data="{
				insetValue: '0 100% 0 0',
				update(tab) {
					const insetValues = {
					pizza: '0 81.5% 0 1%',
					salad: '0 59.5% 0 22%',
					beverage: '0 27% 0 44.5%',
					dessert: '0 0.5% 0 76.5%'
				};
				this.insetValue = insetValues[tab] || '0 100% 0 0'
			},
			scrollToSection(section) {
				$nextTick(() => document.querySelector(section)?.scrollIntoView());

			},
			observeSections() {
    			const sections = document.querySelectorAll('.menu-container');
    			const observer = new IntersectionObserver(entries => {
        			entries.forEach(entry => {
            			if (entry.isIntersecting && this.activeTab !== entry.target.classList[0]) {
                			this.update(entry.target.classList[0]); 
            			}
        			});
    			}, { threshold: 0.25 });
    			sections.forEach(section => observer.observe(section));
			}
			

			}"
		x-init="observeSections()"
	>
		<ul class="menu-select">
			<li>
				<input
					type="radio"
					id="pizza-tab"
					name="menu-tabs"
					@click="update('pizza'); scrollToSection('.pizza')"
				/>
				<label for="pizza-tab" class="tab-label">Pizza</label>
			</li>
			<li>
				<input
					type="radio"
					id="salad-tab"
					name="menu-tabs"
					@click="update('salad'); scrollToSection('.salad')"
				/>
				<label for="salad-tab" class="tab-label">Salad</label>
			</li>
			<li>
				<input
					type="radio"
					id="beverage-tab"
					name="menu-tabs"
					@click="update('beverage'); scrollToSection('.beverage')"
				/>
				<label for="beverage-tab" class="tab-label">Beverages</label>
			</li>
			<li>
				<input
					type="radio"
					id="dessert-tab"
					name="menu-tabs"
					@click="update('dessert'); scrollToSection('.dessert')"
				/>
				<label for="dessert-tab" class="tab-label">Dessert</label>
			</li>
		</ul>
		<div
			aria-hidden
			class="clip-path-container"
			x-bind:style="`clip-path: inset(${insetValue} round 1em)`"
		>
			<ul class="menu-select list-overlay">
				<li>
					<label for="pizza-tab" class="tab-label overlay"
						>Pizza</label
					>
				</li>
				<li>
					<label for="salad-tab" class="tab-label overlay"
						>Salad</label
					>
				</li>
				<li>
					<label for="beverage-tab" class="tab-label overlay"
						>Beverages</label
					>
				</li>
				<li>
					<label for="dessert-tab" class="tab-label overlay"
						>Dessert</label
					>
				</li>
			</ul>
		</div>
	</div>

	<div class="content-container">
		<section class="pizza menu-container">
			<h2>Pizza</h2>
			<h4>Additional side sauces for $1.50:</h4>
			<h5>Calabrian Chili Cream • Hot Cane Syrup • Ranch</h5>
			<div class="item-container">
				<MenuItem
					name="Cheese"
					description="Tomato sauce and diced mozzarella"
					price={14.0}
				/>
				<MenuItem
					name="Margherita"
					description="Classic pizza with tomato sauce, mozzarella, fresh basil"
					price={15.0}
				/>
				<MenuItem
					name="Pepperoni"
					description="Red sauce, mozzarella, pepperoni"
					price={16.0}
				/>
				<MenuItem
					name="Sausage"
					description="Vodka sauce, Mozzerella, spicy ground sausage from Durden's Prime Meats"
					price={16.0}
				/>
				<MenuItem
					name="Pesto"
					description="Pesto base, mozzarella, ricotta cheese"
					price={16.0}
				/>
				<MenuItem
					name="Garlic"
					description="Olive oil, housemade garlic paste, mozzarella, goat cheese, capers, lemon-tossed arugala"
					price={17.0}
				/>
				<MenuItem
					name="Philly Cheese Steak"
					description="Olive oil, provolone, mozz, grilled onions, sauteed bell peppers, steak"
					limitedTime={true}
					price={18.0}
				/>
			</div>
		</section>
		<section class="salad menu-container">
			<h2>Salad</h2>
			<div class="item-container">
				<MenuItem
					name="Kale Caesar"
					description="Kale salad with housemade Caesar dressing, croutons, and fresh parmesan"
					price={9.0}
				/>
			</div>
		</section>
		<section class="beverage menu-container">
			<h2>Beverages</h2>
			<div class="item-container">
				<MenuItem
					name="Bottled Soda"
					description="Coke • Sprite • Fanta • Root Beer"
					price={3.0}
				/>
				<MenuItem
					name="Canned Soda"
					description="Diet Coke • Coke Zero"
					price={2.0}
				/>
				<MenuItem
					name="Yoohoo"
					description="Chocolate milk"
					price={3.0}
				/>
				<MenuItem
					name="Topo Chico"
					description="Sparkling mineral water"
					price={3.0}
				/>
			</div>
			<h3>Beer</h3>
			<h6>More options in-house</h6>
			<div class="item-container">
				<MenuItem
					name="Miller High Life Pony"
					description="Crisp and light in a 7 oz. pony bottle. Bucket of 6 available"
					price={2.0}
				/>
				<MenuItem
					name="Coors Banquet"
					description="Rich, golden lager with a smooth finish"
					price={4.0}
				/>
				<MenuItem
					name="Miller Lite"
					description="Light lager with low bitterness and subtle taste"
					price={4.0}
				/>
				<MenuItem
					name="Modelo"
					description="Smooth, well-balanced Mexican lager with just a touch of sweetness"
					price={5.0}
				/>
				<MenuItem
					name="Tropicália"
					description="Creature Comforts' signature IPA. Balanced, juicy, with citrus, tropical fruit, and a hint of bitterness"
					price={6.0}
				/>
				<MenuItem
					name="Samuel Smith's Cider"
					description="British medium-dry sparkling cider with light body and clean apple flavor"
					price={8.0}
				/>
			</div>
			<h3>Frozen Cocktails</h3>
			<div class="item-container">
				<MenuItem
					name="Painkiller"
					description="Frozen cocktail with rum, pineapple juice, orange juice, and cream of coconut "
					price={12.0}
					limitedTime={true}
				/>
			</div>
		</section>
		<section class="dessert menu-container">
			<h2>Dessert</h2>
			<div class="item-container">
				<MenuItem
					name="Chocolate Chip Cookie"
					description="Classic treat with the perfect balance of sweetness and richness"
					price={3.0}
				/>
				<MenuItem
					name="Ice Cream Sandwich"
					description="Blue Bunny classic with vanilla ice cream and two chocolate wafers"
					price={2.0}
				/>
			</div>
		</section>
	</div>
</BaseLayout>
