---
import "../styles/global.css";
import MenuItem from "../components/MenuItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import MenuTabs from "../components/MenuTabs.svelte";

const pageTitle = "Menu";
---

<style>
	html {
		scroll-behavior: smooth;
	}

	.menu-container > h2 {
		font-family: "Pally-Variable", "sans serif";
		padding: 0 5%;
		font-weight: 600;
		color: #002c2e;
		text-transform: uppercase;
		font-size: 3.5rem;
		letter-spacing: -0.075rem;
	}

	.menu-container > h4 {
		font-family: "Apfel Grotezk", "sans serif";
		color: #416d6f;
		text-transform: uppercase;
		font-size: 1.25rem;
		font-weight: 500;
	}

	.menu-container > h5 {
		font-family: "Apfel Grotezk", "sans serif";
		color: #416d6f;
		font-weight: 400;
	}

	.menu-container > h3 {
		margin-top: 6.25rem;
		font-family: "Pally-Variable", "sans serif";
		padding: 0 5%;
		font-weight: 500;
		color: #002c2e;
		text-transform: uppercase;
		font-size: 2.5rem;
		letter-spacing: -0.075rem;
	}

	.menu-container > h6 {
		font-family: "Apfel Grotezk", "sans serif";
		color: #416d6f;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 400;
	}

	.item-container {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4rem;
		align-items: flex-start;
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	@media (max-width: 900px) {
		.item-container {
            margin-left: 0;
            margin-right: 0;
			grid-template-columns: 1fr;
		}
	}

	.menu-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 8rem;
	}

	.content-container {
		padding-bottom: 8rem;
		width: 100%;
		max-width: 100%;
		overflow-x: hidden;
	}

	.lock-scroll {
		overflow: hidden;
		touch-action: none;
	}

	body {
		overflow-x: hidden;
	}
</style>

<BaseLayout>
    <div transition:animate="fade">
        <MenuTabs client:load />
        <div class="content-container">
            <section class="pizza menu-container">
                <h2>Pizza</h2>
                <h4>Additional side sauces for $1.50:</h4>
                <h5>Calabrian Chili Cream • Hot Cane Syrup • Ranch</h5>
                <div class="item-container">
                    <MenuItem
                        name="Cheese"
                        description="Tomato sauce and diced mozzarella"
                        price={14.0}
                    />
                    <MenuItem
                        name="Margherita"
                        description="Classic pizza with tomato sauce, mozzarella, fresh basil"
                        price={15.0}
                    />
                    <MenuItem
                        name="Pepperoni"
                        description="Red sauce, mozzarella, pepperoni"
                        price={16.0}
                    />
                    <MenuItem
                        name="Sausage"
                        description="Vodka sauce, Mozzerella, spicy ground sausage from Durden's Prime Meats"
                        price={16.0}
                    />
                    <MenuItem
                        name="Pesto"
                        description="Pesto base, mozzarella, ricotta cheese"
                        price={16.0}
                    />
                    <MenuItem
                        name="Garlic"
                        description="Olive oil, housemade garlic paste, mozzarella, goat cheese, capers, lemon-tossed arugala"
                        price={17.0}
                    />
                    <MenuItem
                        name="Philly Cheese Steak"
                        description="Olive oil, provolone, mozz, grilled onions, sauteed bell peppers, steak"
                        limitedTime={true}
                        price={18.0}
                    />
                </div>
            </section>
            <section class="salad menu-container">
                <h2>Salad</h2>
                <div class="item-container">
                    <MenuItem
                        name="Kale Caesar"
                        description="Kale salad with housemade Caesar dressing, croutons, and fresh parmesan"
                        price={9.0}
                    />
                </div>
            </section>
            <section class="beverage menu-container">
                <h2>Beverages</h2>
                <div class="item-container">
                    <MenuItem
                        name="Bottled Soda"
                        description="Coke • Sprite • Fanta • Root Beer"
                        price={3.0}
                    />
                    <MenuItem
                        name="Canned Soda"
                        description="Diet Coke • Coke Zero"
                        price={2.0}
                    />
                    <MenuItem
                        name="Yoohoo"
                        description="Chocolate milk"
                        price={3.0}
                    />
                    <MenuItem
                        name="Topo Chico"
                        description="Sparkling mineral water"
                        price={3.0}
                    />
                </div>
                <h3>Alcohol</h3>
                <h6>More options in-house</h6>
                <div class="item-container">
                    <MenuItem
                        name="Miller High Life Pony"
                        description="Crisp and light in a 7 oz. pony bottle. Bucket of 6 available"
                        price={2.0}
                    />
                    <MenuItem
                        name="Coors Banquet"
                        description="Rich, golden lager with a smooth finish"
                        price={4.0}
                    />
                    <MenuItem
                        name="Miller Lite"
                        description="Light lager with low bitterness and subtle taste"
                        price={4.0}
                    />
                    <MenuItem
                        name="Modelo"
                        description="Smooth, well-balanced Mexican lager with just a touch of sweetness"
                        price={5.0}
                    />
                    <MenuItem
                        name="Tropicália"
                        description="Creature Comforts' signature IPA. Balanced, juicy, with citrus, tropical fruit, and a hint of bitterness"
                        price={6.0}
                    />
                    <MenuItem
                        name="Samuel Smith's Cider"
                        description="British medium-dry sparkling cider with light body and clean apple flavor"
                        price={8.0}
                    />
                    <MenuItem
                    name="Another Drink"
                    description="British medium-dry sparkling cider with light body and clean apple flavor"
                    price={8.0}
                />
                </div>
                <h3>Frozen Cocktails</h3>
                <div class="item-container">
                    <MenuItem
                        name="Painkiller"
                        description="Frozen cocktail with rum, pineapple juice, orange juice, and cream of coconut "
                        price={12.0}
                        limitedTime={true}
                    />
                </div>
            </section>
            <section class="dessert menu-container">
                <h2>Dessert</h2>
                <div class="item-container">
                    <MenuItem
                        name="Chocolate Chip Cookie"
                        description="Homemade treat with the perfect balance of sweetness and richness"
                        price={3.0}
                    />
                    <MenuItem
                        name="Ice Cream Sandwich"
                        description="Blue Bunny classic with vanilla ice cream and two chocolate wafers"
                        price={2.0}
                    />
                </div>
            </section>
        </div>
    </div>
</BaseLayout>