---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghost Runner Pizza</title>
    <style>
        .nav-list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .nav-item {
            list-style: none;
            margin-right: 2rem;
        }
        
    </style>
    <style>
        @font-face {
            font-family: 'Apfel Grotezk';
            src: url('../assets/ApfelGrotezk-Satt.woff2') format('woff2');
            font-weight: bolder;
        }

        @font-face {
            font-family: 'Apfel Grotezk';
            src: url('../assets/ApfelGrotezk-Fett.woff2') format('woff2');
            font-weight: bold;
        }

        @font-face {
            font-family: 'Apfel Grotezk';
            src: url('../assets/ApfelGrotezk-Mittel.woff2') format('woff2');
            font-weight: normal;
        }

        @font-face {
            font-family: 'Apfel Grotezk';
            src: url('../assets/ApfelGrotezk-Regular.woff2') format('woff2');
            font-weight: lighter;
        }
        @font-face {
            font-family: "Victor Mono";
            src: url("../assets/VictorMono-Light.woff2") format("woff2");
            font-weight: light;
        }
        @font-face {
            font-family: "Victor Mono";
            src: url("../assets/VictorMono-Medium.woff2") format("woff2");
            font-weight: normal;
        }
    </style>

    <style>

        .button {
            position: relative;
            display: inline-block;
            font-size: 2rem;
            font-family: "Apfel Grotezk";
            font-weight: bold;
            text-transform: uppercase;
            color: #002C2E;
            cursor: pointer;
            text-decoration: none;
            overflow: hidden;

            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .button::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #002C2E;
        }

        /* Always visible bottom line */
        .button::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #002C2E;
            transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }

        /* Hover Effects */
        .button:hover {
            color: #fff; /* Change text color to white */
            transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }

        /* Expanding line to form a rectangle on hover */
        .button:hover::after {
            height: 100%; /* Expands the line upwards */
            background-color: #002C2E;
            z-index: -1;
        }
    </style>
</head>
<body>
    <navbar>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/menu" class="button">Menu</a>
            </li>
            <li class="nav-item">
                <a href="/order" class="button">Order Online</a>
            </li>
        </ul>

        
    </navbar>
</body>
</html>
