---
import '../styles/global.css';

interface Props {
    name: string;
    description?: string;
    price: number;
    limitedTime?: boolean;
}

const { name, description = "", price, limitedTime = false} = Astro.props;
---

<style>
    .item-box {
        display: flex;
        flex-direction: column;
        max-width: 19rem;
        width: 100vw;
        justify-content: center;
    }
    
    .first-line {
        font-family: "Apfel Grotezk", sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        font-size: 1.5rem;
        color: #002C2E;
        font-weight: 500;
        padding-bottom: 0.25rem;
    }


    .product-name {
        /* margin: 0; */
    }
    
    .product-price {
        margin-left: 2rem;
        align-self: flex-start;
    }

    /* .first-line.with-divider::after { */
    .first-line::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #002C2E;
    }

    .product-description {
        padding-top: 0.125rem;
        font-family: 'Apfel Grotezk', 'sans serif';
        letter-spacing: 0.1rem;
        font-weight: 400;
        color: #416D6F;
    }

</style>

<div class="item-box">
    <!-- <div class={`first-line ${description !== "" ? 'with-divider' : ''}`}> -->
    <div class="first-line">
        <h2 class="product-name">{name}</h2>
        <span class="product-price">${price}</span>
    </div>

    <p class="product-description">{description}</p>
</div>
