---
import "../styles/global.css";
---

<style>
    .ticker-wrap {
        --gap: 5rem;
        height: 2.25rem;
        overflow: hidden;
        background-color: #416d6f;
        margin-top: 1rem;
        display: flex;
        gap: var(--gap);
        white-space: nowrap;
    }
    .ticker {
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        justify-content: space-around;
        min-width: 100%;
        justify-content: ;
        animation: scroll 20s linear infinite;
    }

    .ticker-wrap:hover .ticker{
        animation-play-state: paused;
    }

    .item {
        display: flex;
        align-items: baseline;
    }

    /* Transition */
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }

    .item > * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        font-family: "Apfel Grotezk";
        margin-left: 0.25rem;
        margin-top: 0.25rem;
    }
    .item > h5 {
        color: #f7f2de;
        font-size: 1.25rem;
        font-weight: normal;
    }

    .item > h4 {
        color: #ffffff;
        font-size: 1.75rem;
        font-weight: bold;
    }

    .item > p {
        color: #f7f2de;
        font-size: 1rem;
        font-weight: 400;
    }
</style>

<div class="ticker-wrap">
    <ul class="ticker">
        <li class="item">
            <h5>Now Available:</h5>
            <h4>CHOCOLATE CHIP COOKIES</h4>
        </li>

        <li class="item">
            <h5>This Week's Special:</h5>
            <h4>FISHERMAN'S PIE</h4>
            <p>
                Garlic butter, diced mozzarella, clams, capers, fresh parsley,
                lemon wedge
            </p>
        </li>
    </ul>
    <ul aria-hidden="true" class="ticker">
        <li class="item">
            <h5>Now Available:</h5>
            <h4>CHOCOLATE CHIP COOKIES</h4>
        </li>

        <li class="item">
            <h5>This Week's Special:</h5>
            <h4>FISHERMAN'S PIE</h4>
            <p>
                Garlic butter, diced mozzarella, clams, capers, fresh parsley,
                lemon wedge
            </p>
        </li>
    </ul>
</div>
