---
import Header from "../components/Header.astro";
import Ticker from "../components/Ticker.astro";
import Footer from "../components/Footer.astro"
import { ViewTransitions } from 'astro:transitions';

const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ghost Runner Pizza</title>
    <ViewTransitions />
  </head>
  <body>
    <Ticker transition:persist />
    <Header currentPath={currentPath} />
    <slot />

    <Footer />
  </body>
</html>