---
import Header from "../components/Header.astro";
import Ticker from "../components/Ticker.astro";
import Footer from "../components/Footer.astro"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ghost Runner Pizza</title>
  </head>
  <body>
    <Header />
    <slot />
    <Ticker />
    <Footer />
  </body>
</html>